body {
	background: #fff;
	color: #4d4d50;
	font: 400 16px/1.42857143 'PT Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6 {margin: 0;}

a:focus {
	text-decoration: none;
	outline: none;
}

.btn.active.focus, 
.btn.active:focus, 
.btn.focus, 
.btn:active.focus, 
.btn:active:focus, 
.btn:focus {
	outline: none;
}

.btn.active, .btn:active {
	box-shadow: none;
}

.main-wrapper {
	overflow: hidden;
}

#header.active .main_navbar {
	background: #0a0d35;
	padding: 0;
}

.main_navbar {
	background: transparent;
	border: none;
	padding: 15px 0;
	transition: all 0.3s;
}

.main_navbar .navbar-nav {
	margin-top: 25px;
}

.main_navbar .navbar-nav>.active>a, 
.main_navbar .navbar-nav>.active>a:focus, 
.main_navbar .navbar-nav>.active>a:hover {
	color: #ffbb12;
	background: transparent;
}

.main_navbar .navbar-nav>li>a {
	font-size: 14px;
	color: #fff;
	text-transform: uppercase;
	transition: all 0.3s ease;
}

.main_navbar .navbar-nav>li>a:hover,
.main_navbar .navbar-nav>li>a:focus {
	color: #ffbb12;
}

.main_navbar .navbar-brand {
	height: 100px;
	padding: 0px;
}

.main_navbar .navbar-brand>img {
	height: 100%;
	padding: 15px;
	width: auto;
}

/* Banner section */
.banner {
	position: relative;
	overflow: hidden;
	background: #0a0d35;
}

.banner img {
	width: 100%;
	object-fit: cover;
	height: 100vh;
	opacity: 0.8;
}

.banner .center-info {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 743px;
	margin-top: -50px;
}

.banner .center-info h2 {
	color: #fff;
	font-size: 60px;
}

.banner .center-info h2:nth-child(2) {
	position: absolute;
	right: 0;
}

.banner .btn-wrap {
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: 60px;
	left: 50%;
	transform: translate(-50%, -50%);
}

.banner .btn-wrap .btn:first-child {
	margin-right: 30px;
}

.banner .btn-wrap .btn {
	font-size: 18px;
	background: #5e3db3;
	color: #fff;
	padding: 10px 40px;
	border-radius: 50px;
	box-shadow: 10px 10px 24px -1px rgba(10,13,53,1);
	text-transform: uppercase;
	transition: all 0.3s ease;
}

.banner .btn-wrap .btn:hover {
	background: #ffbb12;
}

/* About Us */
.about_us {
	padding: 40px 0 0;
	position: relative;
	overflow: hidden;
}

.about_us img {
	width: 100%;
}

.about-bg-left {
	background: #5e42b0;
	width: 100%;
	height: 50%;
	position: absolute;
	bottom: 0;
	right: 0;
}

.about-bg-right {
	background: #f1f9fe;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 50%;
	top: 170px;
	transform: skew(-12deg);
}

.about-us-info {
	position: relative;
	top: 200px;
	padding-left: 60px;
	text-align: right;
}

.about-us-info h2 {
	position: absolute;
	top: -150px;
	font-size: 60px;
	font-weight: 700;
	color: #e7e7e7;
	text-transform: uppercase;
	margin-left: 50px;
}

.about-us-info h3 {
	margin-bottom: 30px;
	color: #c1c1c1;
	font-size: 30px;
	font-weight: bold;
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
}

.about-us-info h3 span {
	position: relative;
	font-size: 14px;
	font-weight: 600;
	color: #000;
	margin-right: 15px;
	margin-bottom: 8px;
	padding-bottom: 7px;
	display: inline-block;
	vertical-align: middle;
	font-family: 'Raleway', sans-serif;
}

.about-us-info h3 span:before {
	position: absolute;
	content: '';
	bottom: 0;
	width: 16px;
	border-bottom: 4px solid #5e42b0;
	border-radius: 10px;
}

.about-us-info h4 {
	font-size: 17px;
	color: #707070;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	font-style: italic;
	text-align: left;
	padding-left: 88px;
	margin-bottom: 50px;
}

.about-us-info p {
	color: #4d4d50;
	font-size: 22px;
}

/* news section */
.news-section {
	background: #f1f9fe;
	padding: 40px 0;
	position: relative;
}

.news-header h2 {
	margin-bottom: 30px;
	font-size: 60px;
	font-weight: 700;
	color: #e7e7e7;
	text-transform: uppercase;
}

.news-header h3 {
	margin: 20px 40px 0 0;
	font-size: 40px;
	font-weight: 700;
	color: #e7e7e7;
	text-align: right;
	text-transform: uppercase;
}

.news-header .news_arrow {
	    position: absolute;
    right: 15px;
    top: 0;
}

.news-header img {
	width: auto !important;
	height: auto !important;
}

.news-section img {
	width: 100%;
	height: 350px;
	margin-bottom: 30px;
	object-fit: cover;
}

.news-wrap {
	position: absolute;
	bottom: 50px;
	padding: 0 15px;
	left: 15px;
	right: 15px;
	color: #fff;
}

.news-wrap h3 {
	margin-bottom: 15px;
	color: #e7e7e7;
	font-size: 30px;
	font-weight: 700;
	text-transform: uppercase;
}

.news-wrap .date {
	display: block;
	color: #e7e7e7;
	font-weight: 700;
	text-transform: uppercase;
}

.news-wrap a {
	color: #e7e7e7;
}

.news-wrap a:hover {
	text-decoration: none;
	color: #ffbb12;
}

/* home video section */
.home_video_section {
	background: #ffbb12;
	padding: 40px 0 60px 100px;
	overflow: hidden;
}

.home_video_section h2 {
	margin-bottom: 30px;
	font-size: 60px;
	font-weight: 700;
	color: #020202;
	opacity: 0.42;
	text-transform: uppercase;
}

.home_video_section .slick-prev {
	bottom: 0;
	top: inherit;
	left: 0;
}

.home_video_section .slick-next {
	top: inherit;
	left: 40px;
	right: inherit;
	bottom: 0;
}

.home_video_section .video_slider {padding-left: 100px;}

.home_video_section .video_slider .item {
	position: relative;
	padding: 10px;
}

.home_video_section .video_slider img {
	width: 100%;
	height: 310px;
	object-fit: cover;
}

.home_video_section .item .play-icon {
	background: transparent;
	font-size: 40px;
	color: yellow;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.home_video_section .video-modal .modal-content {
	position: relative;
	background: #ffbb12;
	padding: 30px;
}

.home_video_section .video-modal .fa {
	position: absolute;
	top: 10px;
	right: 15px;
	cursor: pointer;
	color: #fff;
}

.home_video_section .video-modal .fa:hover {
	color: #363636;
}

.slick-prev:before,
.slick-next:before{
	font-size: 28px;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	color: #020202;
	opacity: 0.42;
}

.slick-prev.slick-disabled:before, 
.slick-next.slick-disabled:before {
	opacity: 1;
}

.slick-prev:before {content: '\f104';}

.slick-next:before {content: '\f105';}

.slick-prev:before,
.slick-next:before {
	border: 1px solid #000;
	padding: 0 10px;
}

/* players section */
.players-section {
	padding: 80px 0 0;
	background: #fff;
	position: relative;
	overflow: hidden;
}

.players-section img {
	width: 100%;
	position: absolute;
	top: -33px;
	z-index: 9;
}

.players-section h2 {
	margin-bottom: 30px;
	font-size: 60px;
	font-weight: 700;
	color: #e7e7e7;
	text-transform: uppercase;
}

.players-section .text-wrap {
	padding: 50px 0;
}

.players-section .text-wrap p {
	color: #000;
	font-size: 16px;
}

.players-bg-collaboration {
	background: #f5f6f7;
	margin: 0 -9999px;
	padding: 50px 9999px !important;
}

.players-bg-camp {
	background: #0a0e34;
	margin: 0 -9999px;
	padding: 50px 9999px !important;
}

.players-bg-camp p {
	color: #c1c1c1 !important;
}

.players-bg-camp  .common-title span {
	color: #8268d3;
}

.players-bg-camp  .common-title span:before {
	border-color: #fff;
}

.common-title {
	margin-bottom: 15px;
	color: #c1c1c1;
	font-size: 26px;
	font-weight: bold;
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
}

.common-title span {
	position: relative;
	font-size: 14px;
	font-weight: 600;
	color: #000;
	margin-right: 10px;
	margin-bottom: 8px;
	padding-bottom: 7px;
	display: inline-block;
	vertical-align: middle;
	font-family: 'Raleway', sans-serif;
}

.common-title span:before {
	position: absolute;
	content: '';
	bottom: 0;
	width: 16px;
	border-bottom: 4px solid #5e42b0;
	border-radius: 10px;
}

.players-section .newsletter {
	padding: 40px 0;
}

.players-section .newsletter h4 {
	margin-bottom: 15px;
	font-size: 20px;
	color: #e7e7e7;
	text-align: right;
	text-transform: uppercase;
}

.players-section .newsletter .form-control {
	background: transparent;
	border-radius: 0;
	border-color: #fff;
	height: 46px;
	font-size: 18px;
	color: #e7e7e7;
}

.players-section .newsletter .btn {
	background: #f1f9fe;
	border-radius: 0;
	padding: 11px 20px;
	transition: all 0.3s ease;
}

.players-section .newsletter .btn:hover {
	background: #ffbb12;
}

.players-section .newsletter .btn:hover .fa {
	color: #fff;
}

.players-section .newsletter .fa {
	font-size: 20px;
	color: #000;
}

.footer {
	position: relative;
	overflow: hidden;
}

.footer img {
	width: 100%;
	object-fit: cover;
}

.contact-us-info {
	position: absolute;
	top: 30px;
	left: 50%;
	transform: translateX(-50%);
	color: #fff;
	text-align: center;
	text-transform: uppercase;
}

.contact-us-info h2 {
	font-size: 40px;
	margin-bottom: 15px;
}

.contact-us-info a {
	display: block;
	color: #fff;
}

.contact-us-info a:hover {
	text-decoration: none;
}

.footer-bottom {
	background: rgba(10,14,52,0.6);
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 40px 0;
}

.footer-bottom .list-inline {
	margin: 0;
}

.footer-bottom .social-networks li {
	padding: 0 10px;
}

.footer-bottom .social-networks li a {
	color: #fff;
	transition: all 0.3s ease;
}

.footer-bottom .social-networks li a:hover {
	color: #ffbb12;
}

.footer-bottom .contact-list {
	text-align: right;
}

.footer-bottom .contact-list li {
	padding: 0;
}

.footer-bottom .contact-list>li+li:before {
	padding: 0 10px;
	color: #ccc;
	content: "|";
}

.footer-bottom .contact-list li a {
	color: #fff;
	transition: all 0.3s ease;
}

.footer-bottom .contact-list li a:hover {
	color: #ffbb12;
	text-decoration: none;
}

@media(max-width: 1199px) {
	.about-us-info h3 span {
		font-size: 12px;
	}

	.about-us-info h2 {
		font-size: 40px;
		top: -130px;
		margin-left: 30px;
	}

	.about-us-info h3 {
		font-size: 26px;
	}

	.about-us-info h4 {
		font-size: 14px;
		margin-bottom: 30px;
		padding-left: 70px;
	}

	.about-us-info p {
		font-size: 18px;
	}

	.news-header h2 {
		font-size: 40px;
	}

	.news-header h3 {
		font-size: 26px;
	}

	.home_video_section h2 {
		font-size: 40px;
	}

	.players-section h2 {
		font-size: 40px;
		margin-bottom: 0;
	}

	.common-title {
		font-size: 24px;
	}

	.players-section .text-wrap p {
		font-size: 14px;
	}

	.players-section .newsletter h4 {
		font-size: 18px;
	}

	.footer-bottom {
		padding: 20px 0;
	}

	.footer-bottom .social-networks li a,
	.footer-bottom .contact-list li a {
		font-size: 14px;
	}

}

@media(max-width: 991px) {
	.main_navbar .navbar-nav>li>a {
		padding-left: 5px;
	}

	.banner .center-info {
		width: 497px;
	}

	.banner .center-info h2 {
		font-size: 40px;
	}

	.banner .btn-wrap .btn {
		font-size: 14px;
	}

	.banner .btn-wrap .btn:first-child {
		margin-right: 15px;
	}

	.about-bg-right {
		top: 150px;
	}

	.about-us-info {
		top: 155px;
		padding-left: 40px;
	}

	.about-us-info h2 {
		top: -100px;
	}

	.about-us-info h3 {
		font-size: 22px;
		margin-bottom: 15px;
	}

	.about-us-info h4 {
		font-weight: normal;
		padding-left: 46px;
		margin-bottom: 15px;
	}

	.about-us-info p {
		font-size: 14px;
	}

	.contact-us-info {
		font-size: 14px;
	}

	.contact-us-info {
		top: 20px;
	}

	.contact-us-info h2 {
		font-size: 28px;
	}
}

@media(max-width: 767px) {
	.main_navbar {
		background: #0a0d35;
		padding: 0;
	}

	.main_navbar .navbar-nav {
		margin: 0;
		padding: 8px 15px;
	}

	.main_navbar .navbar-toggle {
		margin-top: 35px;
		border-color: #fff;
	}

	.main_navbar .navbar-toggle:focus,
	.main_navbar .navbar-toggle:hover {
		background: #ffbb12;
	}

	.main_navbar .navbar-toggle .icon-bar {
		background: #fff;
	}

	.home_video_section {
		padding-left: 15px;
	}

	.about_us {
		padding: 0;
	}

	.about_us img {
		width: 50%;
	}

	.about-bg-left {
		height: 100%;
	}

	.about-us-info h2 {
		font-size: 30px;
	}

	.about-bg-right {
		display: none;
	}

	.about-us-info {
		background: #f1f9fe;
		padding: 40px 15px;
		top: 0;
	}

	.about-us-info h4 {
		text-align: right;
		padding-left: 15px;
	}

	.about-us-info p {
		margin: 0;
	}

	.home_video_section {
		padding-bottom: 40px;
	}

	.home_video_section h2 {
		font-size: 30px;
	}

	.players-section h2 {
		font-size: 30px;
	}

	.players-section {
		padding-top: 40px;
	}

	.players-section img {
		display: none;
	}

	.players-section .text-wrap {
		padding: 30px 0;
	}

	.players-bg-collaboration,
	.players-bg-camp {
		padding: 30px 9999px !important;
	}

	.common-title {
		font-size: 18px;
	}

	.players-section .newsletter {
		margin: 0 -9999px;
		padding: 40px 9999px;
		background: #0a0e34;
		border-top: 1px solid #f5f6f7;
	}

	.players-section .newsletter h4 {
		font-size: 16px;
	}

	.players-section .newsletter .form-control {
		font-size: 16px;
	}

	.footer img {
		height: 50vh;
	}

	.contact-us-info h2 {
		font-size: 24px;
	}

	.news-header h2 {
		font-size: 30px;
		margin-bottom: 5px;
	}

	.news-header h3 {
		font-size: 24px;
		margin-bottom: 20px;
	}

	.news-header img {
		width: 70% !important;
	}

	.news-header .news_arrow {
		top: -20px;
	}
}

@media(max-width: 599px) {
	.banner .center-info h2 {
		font-size: 28px;
	}

	.banner .center-info {
		width: 260px;
	}

	.banner .btn-wrap .btn {
		padding: 10px 28px;
	}
}

@media(max-width: 479px) {
	.home_video_section .video_slider {
		padding-left: 0;
	}
	.footer-bottom .col-xs-4,
	.footer-bottom .col-xs-8 {
		width: 100%;
	}

	.footer-bottom .social-networks {
		margin-bottom: 15px;
	}

	.footer-bottom .social-networks li {
		padding: 0 10px 0 0;
	}

	.footer-bottom .contact-list {
		text-align: left;
	}
}